body,
html {
    height: 100%;
    margin: 0px;
}

.all {
    display: flex;
    flex-direction: row;
    background-color: lightcyan;
    height: 100%;
}

.main {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 10%;
}

.search-form {
    display: flex;
    flex-direction: column;
    background-color: lightcoral;
    min-height: 10%;
    height: 20%;
}

#searchButton {
    width: 100%;
    height: 100%;
}

#gdriveAuthButton {
    height: 50px;
}

.filters {
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
    height: 5%;
}

#filterCollapsible {
    height: 50px;
}

.filterOptions {
    display: none;
    overflow: hidden;
    overflow-y: overlay;
    height: 100%;
}

input {
    width: 95%;
}

.checkbox {
    width: 10%;
}

.sidebarGallery {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    overflow-y: overlay;
    height: 75%;
}

.sidebar img {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.mainGallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.mainGallery a {
    height: 5%;
    display: flex;
    align-items: center;
}

.mainGallery img {
    max-height: 95%;
    max-width: 100%;
}

.mainGallery video {
    max-height: 95%;
    max-width: 100%;
}