body,
html {
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

.all {
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
    height: 100%;
}

.main {
    display: flex;
    width: 90%;
    /* flex-direction: column; */
    align-items: center;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 10%;
    z-index: 99999;
}

#toggleSidebarButton {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    height: 8%;
    width: 2%;
    z-index: 99999;
}

.search-form {
    display: flex;
    flex-direction: column;
    /* background-color: lightcoral; */
    min-height: 10%;
    height: 20%;
}

#searchButton {
    width: 100%;
    height: 100%;
}

.filters {
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
    height: 5%;
}

#filterCollapsible {
    height: 50px;
}

.filterOptions {
    display: none;
    overflow: hidden;
    overflow-y: overlay;
    height: 100%;
}

input {
    width: 95%;
}

.checkbox {
    width: 10%;
}

.sidebarGallery {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    overflow-y: overlay;
    height: 75%;
}

.sidebar img {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#mainGallery {
    position: absolute;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    height: 100%;
    width: 100%;
    justify-content: center; */
}

/* .mainGallery a {
    height: 5%;
    display: flex;
    align-items: center;
} */

.drag {
    position: absolute;
    background-color: red;
}

.drag img,
.drag video {
    border: 3px solid black;
    width: 100%;
}

.selected img,
.selected video {
    border: 3px solid yellow;
    width: 100%;
}